<h1>Price list</h1>

<p>This is a simple example of an Angular component.</p>

<button (click)="startStream()">Start Stream</button>
<button (click)="stopStream()">Stop Stream</button>

<div class="container">
    <div class="row">

        <button (click)="add()">add</button>
        <button (click)="remove()">remove</button>

        <div class="row">

            <stock-price *ngFor="let theStock of streamingStocks" [stock]="theStock"  class="col-sm-3"></stock-price>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="background-color:azure">

            <div *ngFor="let transacion of transactions">

                <h3>Transaction Info</h3>
                <h4>Seller: {{transacion.seller}}</h4>
                <h4>Buyer: {{transacion.buyer}}</h4>
                <h4>Unit Count: {{transacion.count}}</h4>
                <h4>Unit Price: {{transacion.price}}</h4>

            </div>

        </div>
        <div class="col-sm-6" style="background-color:khaki">
            <div *ngFor="let transacion of transactions2">

                <h3>Transaction Info</h3>
                <h4>Seller: {{transacion.seller}}</h4>
                <h4>Buyer: {{transacion.buyer}}</h4>
                <h4>Unit Count: {{transacion.count}}</h4>
                <h4>Unit Price: {{transacion.price}}</h4>

            </div>
        </div>
    </div>

</div>



